<div class="container row">
  <div id="comment-form" class="comments comment-form">
    {{#each this}}
    <div class="card post comment-box">
      <div class="card-body post-body">
        <p class="card-text comment-text">
          {{comment_text}}
        </p>
        <p class="card-text comment-member"> Commented by <span class="comment-member_name"> {{member_name}}</span> on {{format_date createdAt}}
        </p>
      </div>
    </div>
    {{/each}}
  </div>
</div>