<h2 class="title mb-5">LOGIN</h2>
  <form id="login-form" class="card-body">
    <div class="form-row">
      <label class="form-label" for="member_name-login">Username</label>
      <input  id="member_name-login" type="text" autofocus="true" class="form-input form-control"/>
    </div>
    <div class="form-row mb-4">
      <label class="form-label" for="password-login">Password</label>
      <input id="password-login" type="password" autofocus="true" class="form-input form-control"/>
    </div>
      <button id="submit" type="submit" class="btn btn-success">Login</button>
      <a class="btn login-link" href="/signup">New Here? Sign Up</a>
  </form>
    
<script src="/js/login.js"></script>