*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 1px solid #ccc;
}


a, a.link, a.logo {
 color: #707961;
 padding: 5px;
}

.wrapper{
  max-width: 1200px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #B3C398;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #879177;
  text-decoration: underline;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  position: relative;
  list-style-type: none;
  margin: 0;
  font-size: 1.5em;
}

.navbar a{
  text-decoration: none;
  margin: 0 5px
}

.navbar a:hover{
  text-decoration: none;
  color: inherit;
}

.post{
  margin: 30px 0;
  border: 1px #626956 solid;
  text-align: right;
}

.post-title{
  background-color: #D8E0CC;
  padding: 18px;
  margin-top: 0;
  text-align: left;
}

.post-content{
  padding: 10px;
  text-align: left;
}

.post-button{
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.post-author{
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
  font-style: italic;
}

.post-member_name{
  font-weight: bold;
}

.dashboard-container{
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.footer-margin{
  margin-top: 50px;
}

.form-row{
  margin-bottom: 20px;
}

.signup{
  margin-top: 20px;
}

.signup-form div{
  margin-bottom: 20px;
}

.login-form div{
  margin-bottom: 20px;
}

.edit-post-form{
  margin-top: 20px;
}

.edit-post-form div{
  margin-bottom: 20px;
}

.register{
  display: inline-block;
  margin-top: 20px;
}

.single-post-container{
  margin-top: 20px;
}

.comment-container{
  margin-top: 20px;
  padding: 10px;
  border: 1px #626956 solid;
  border-radius: 10px;
}

.comment-button{
  margin-top: 20px;
}

.comment-text{
  padding: 10px;
}

.comment-author{
  padding: 10px;
  font-weight: bold;
}

#signup button{
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
}

footer{
  margin-top: 30px;
  font-size: 18px;
}
