*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
}

header {
  border-bottom: 1px solid #ccc;
}

a, a.link, a.logo {
 color: #707961;
 padding: 5px;
 text-decoration: none;
}

.wrapper{
  max-width: 1200px;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #B3C398;
  text-decoration: none;
  font-size: 100%;
}

.dashboard-post {
  border: #626956 2px solid;
}

.no-button:hover {
  color: #879177;
  text-decoration: underline;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  font-size: 23px;
}

.navbar a{
  text-decoration: none;
  margin: 0 5px
}

.navbar a:hover{
  text-decoration: none;
  color: #B3C398;
}

.post{
  margin: 30px 0;
  border: 1px #626956 solid;
  text-align: right;
}


.post-title{
  background-color: #D8E0CC;
  padding: 18px;
  margin-top: 0;
  text-align: left;
}

.post-content{
  padding: 10px;
  text-align: left;
}

.post-button{
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.post-author{
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
  font-style: italic;
}

.post-member_name{
  font-weight: bold;
}

.dashboard-container{
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.footer-margin{
  margin-top: 50px;
}

.form-row{
  margin-bottom: 20px;
}

.signup{
  margin-top: 20px;
}

.edit-post-form div, .login-form div, .signup-form div{
  margin-bottom: 25px;
}

.single-post-container, .new-post-form div, .edit-post-form{
  margin-top: 30px;
}

.comment-container{
  margin-top: 20px;
  padding: 10px 15px;
  border: 2px #626956 solid;
  border-radius: 10px;
}

.btn {
  margin-top: 10px;
  background-color:#D8E0CC;
  color:#626956;
}

.delete-post-btn {
  margin-left: 1%;
}

.comment-text{
  padding: 10px;
}

.comment-member{
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
  font-style: italic;
}

.comment-member_name{
  font-weight: bold;
}

#signup button{
  display: inline-block;
  margin-top: 20px;
  margin-left: 10px;
}

footer{
  margin-top: 50px;
  font-size: 18px;
}
